integration-templates/rpi-part-counter/Libre Template.json
[{"id":"1f1892e2.58095d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"47799b14.9af1a4","type":"change","z":"1f1892e2.58095d","name":"","rules":[{"t":"set","p":"output","pt":"flow","to":"$flowContext(\"output\")+1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["22460333.36795c"]],"info":"This is used to count the amount of times the sensor is triggered"},{"id":"d7f5071f.505088","type":"debug","z":"1f1892e2.58095d","name":"Production output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"output","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":420,"wires":[]},{"id":"807d3c22.63537","type":"change","z":"1f1892e2.58095d","name":"","rules":[{"t":"set","p":"output","pt":"msg","to":"output","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["47799b14.9af1a4"]]},{"id":"ea490b7b.97ee38","type":"debug","z":"1f1892e2.58095d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"rate","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":120,"wires":[]},{"id":"41564e57.8342","type":"change","z":"1f1892e2.58095d","name":"Clear Count","rules":[{"t":"set","p":"output","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"orderRunning","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":760,"wires":[[]]},{"id":"82e62254.6f7fa","type":"change","z":"1f1892e2.58095d","name":"","rules":[{"t":"set","p":"output","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":220,"wires":[["807d3c22.63537"]]},{"id":"cfd50818.fa36b8","type":"http request","z":"1f1892e2.58095d","name":"","method":"POST","ret":"txt","paytoqs":"query","url":"yourinfluxdbaddress/write?db=smart_factory","tls":"","persist":false,"proxy":"","authType":"basic","x":950,"y":240,"wires":[["1764e2b5.9877bd"]]},{"id":"1764e2b5.9877bd","type":"debug","z":"1f1892e2.58095d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":240,"wires":[]},{"id":"7ce5cd49.2bb1a4","type":"http request","z":"1f1892e2.58095d","name":"","method":"POST","ret":"txt","paytoqs":"query","url":"yourinfluxdbaddress/write?db=smart_factory","tls":"","persist":false,"proxy":"","authType":"basic","x":1092,"y":160,"wires":[["1764e2b5.9877bd"]]},{"id":"2eaece8b.30fa82","type":"function","z":"1f1892e2.58095d","name":"Availability Function","func":"var stopped = 0;\nvar status = \"null\";\nvar held = 0;\nvar idle = flow.get('orderRunning')\nvar time = global.get('Time')\nvar lineProtocol = {\n  payload: \"\"\n};\nvar timestamp = (new Date().getTime() * 1000000);\nvar outStr = \"Availability,Site=,Area=,Line= \";\nif (time == 1 && idle == 0 && msg.rate ==0) {\n  stopped = 0;\n  status = \"held\";\n  held = 1;\n  idle = 0;\n} else if (time == 1 && idle == 1 && msg.rate ==0) {\n  stopped = 0;\n  status = \"idle\";\n  held = 0;\n  idle = 1;\n} else if (time == 0 && msg.rate ==0) {\n  stopped = 1;\n  status = \"stopped\";\n  held = 0;\n  idle = 0;\n}\nconsole.log(timestamp);\nif (msg.rate > 0) {\n  outStr += \"stopped=0,\";\n  outStr += \"idle=0,\";\n  outStr += \"execute=1,\";\n  outStr += \"held=0,\";\n  outStr += \"complete=0,\";\n  outStr += 'status=\"execute\"';\n} else {\n  outStr += \"stopped=\" + stopped + \",\";\n  outStr += \"idle=\"+idle+\",\";\n  outStr += \"execute=0,\";\n  outStr += \"held=\" + held + \",\";\n  outStr += \"complete=0,\";\n  outStr += \"category=\\\"\\\",\";\n  outStr += \"reason=\\\"\\\",\";\n  outStr += \"parentReason=\\\"\\\",\";\n  outStr += \"comment=\\\"\\\",\";\n  outStr += 'status=\\\"' + status + '\\\",';\n}\noutStr +=\" \"+timestamp;\nlineProtocol.payload = outStr;\nreturn [lineProtocol, msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":240,"wires":[["cfd50818.fa36b8","e68becb1.d15d7"]]},{"id":"dda8971f.e9d348","type":"function","z":"1f1892e2.58095d","name":"Performance Function","func":"var stopped = 0;\n\nvar status = \"held\";\n\nvar held = 0;\n\nvar idle = flow.get('orderRunning');\n\nvar time = global.get('Time');\n\nvar lineProtocol = {\n  payload: \"\"\n};\n\nvar outStr = \"Performance,Site=,Area=,Line= \";\n\nif (time == 1 && idle === 0) {\n  stopped = 0;\n  status = \"held\";\n  held = 1;\n  idle = 0;\n} else if (time == 1 && idle == 1) {\n  stopped = 0;\n  status = \"idle\";\n  held = 0;\n  idle = 1;\n} else {\n  stopped = 1;\n  status = \"stopped\";\n  held = 0;\n  idle = 0;\n}\n\nif (msg.rate > 0) {\n\n  outStr += \"planned_rate=\" + flow.get('plannedrate') + \",\";\n  outStr += \"actual_rate=\" + msg.rate + \",\";\n  outStr += \"stopped=0,\";\n  outStr += \"idle=0,\";\n  outStr += \"execute=1,\";\n  outStr += \"held=0,\";\n  outStr += \"complete=0,\";\n  outStr += 'status=\"execute\" ';\n\n} else {\n\n  outStr += \"planned_rate=\" + flow.get('plannedrate') + \",\";\n  outStr += \"actual_rate=0,\";\n  outStr += \"stopped=\" + stopped + \",\";\n  outStr += \"idle=\" + idle + \",\";\n  outStr += \"execute=0,\";\n  outStr += \"held=\" + held + \",\";\n  outStr += \"complete=0,\";\n  outStr += 'status=' + '\"' + status + '\"';\n\n}\n\nlineProtocol.payload = outStr;\n\nreturn [lineProtocol, msg];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1062,"y":200,"wires":[["7ce5cd49.2bb1a4"]]},{"id":"326d3e1.3ec0ac2","type":"switch","z":"1f1892e2.58095d","name":"","property":"rate","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":691,"y":155,"wires":[["4a7abe6a.617c3"],["2eaf11e1.13c59e"]]},{"id":"2eaf11e1.13c59e","type":"change","z":"1f1892e2.58095d","name":"Zero Rate","rules":[{"t":"set","p":"rate","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":200,"wires":[["8edbda32.b3a098"]]},{"id":"70b70cbb.0cf9d4","type":"inject","z":"1f1892e2.58095d","name":"","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"output","payloadType":"flow","x":712,"y":72,"wires":[["aa435d55.8170b"]]},{"id":"e74da372.c3d4d","type":"switch","z":"1f1892e2.58095d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[[],["82e62254.6f7fa"]]},{"id":"8edbda32.b3a098","type":"rbe","z":"1f1892e2.58095d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"rate","x":870,"y":200,"wires":[["ea490b7b.97ee38","dda8971f.e9d348","2eaece8b.30fa82"]]},{"id":"92ebb3f7.6911","type":"http request","z":"1f1892e2.58095d","name":"Get Order Data","method":"GET","ret":"obj","paytoqs":"ignore","url":"yourinfluxdbaddress/query?db=smart_factory&q=Select last_production_line as production_line,last_product_desc as product_desc, last_order_state as order_state,last_scheduled_start_datetime as scheduled_start_datetime,last_actual_start_datetime as actual_start_datetime,last_setpoint_rate as setpoint_rate,last_order_qty as order_qty,last_issued_qty as issued_qty, last_order_qty - last_issued_qty as remaining_qty ,(last_order_qty - last_issued_qty)/last_setpoint_rate as remaining_time FROM (SELECT last(*) FROM \"OrderPerformance\" GROUP BY \"order_id\",\"product_id\" ) WHERE \"last_order_state\" =~ /running/ and \"last_production_line\" = 'Site | Area | Line1' GROUP BY \"order_id\",\"product_id\"","tls":"","persist":false,"proxy":"","authType":"basic","x":340,"y":651,"wires":[["e90e2fea.9381f","c02ea3e3.e01d4","67649ec.9e83b6"]]},{"id":"e90e2fea.9381f","type":"debug","z":"1f1892e2.58095d","name":"Current order results","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":571,"wires":[]},{"id":"cbaea760.ca5eb8","type":"function","z":"1f1892e2.58095d","name":"Pull PlannedRate","func":"p=msg.payload;\nnode.log(typeof p);\nmsg.payload=p.results[0].series[0].values[0][6];\nflow.set(\"plannedrate\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":548,"y":848,"wires":[[]]},{"id":"fa5039b1.e6f078","type":"inject","z":"1f1892e2.58095d","name":"Query current order","props":[{"p":"payload"}],"repeat":"900","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"payload","payloadType":"msg","x":360,"y":611,"wires":[["92ebb3f7.6911"]]},{"id":"c02ea3e3.e01d4","type":"function","z":"1f1892e2.58095d","name":"Check Order","func":"try {\n  p = msg.payload;\n  node.log(typeof p);\n  msg.payload = p.results[0].series[0].tags.order_id;\n} catch (error) {\n  msg.payload = 0;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":692,"wires":[["6b150c41.b0ae84"]]},{"id":"deb7c1c9.b3d56","type":"rbe","z":"1f1892e2.58095d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":308,"y":768,"wires":[["366eb719.6aff18","41564e57.8342"]]},{"id":"366eb719.6aff18","type":"http request","z":"1f1892e2.58095d","name":"Get Order Data","method":"GET","ret":"obj","paytoqs":"ignore","url":"yourinfluxdbaddress/query?db=smart_factory&q=Select last_production_line as production_line,last_product_desc as product_desc, last_order_state as order_state,last_scheduled_start_datetime as scheduled_start_datetime,last_actual_start_datetime as actual_start_datetime,last_setpoint_rate as setpoint_rate,last_order_qty as order_qty,last_issued_qty as issued_qty, last_order_qty - last_issued_qty as remaining_qty ,(last_order_qty - last_issued_qty)/last_setpoint_rate as remaining_time FROM (SELECT last(*) FROM \"OrderPerformance\" GROUP BY \"order_id\",\"product_id\" ) WHERE \"last_order_state\" =~ /running/ and \"last_production_line\" = 'Site | Area | Line1' GROUP BY \"order_id\",\"product_id\"","tls":"","persist":false,"proxy":"","authType":"basic","x":338,"y":808,"wires":[["cbaea760.ca5eb8","d7b7f225.30838","16859c2.616fe64","2b12e739.012c78","fce4d38f.496b"]]},{"id":"d7b7f225.30838","type":"function","z":"1f1892e2.58095d","name":"Pull OrderQty","func":"p=msg.payload;\nnode.log(typeof p);\nmsg.payload=p.results[0].series[0].values[0][7];\nflow.set(\"orderQty\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":538,"y":888,"wires":[[]]},{"id":"16859c2.616fe64","type":"function","z":"1f1892e2.58095d","name":"Pull IssuedQty","func":"p=msg.payload;\nnode.log(typeof p);\nmsg.payload=p.results[0].series[0].values[0][8];\nif (msg.payload === null){\n    flow.set(\"issuedQty\", 0)\n}else{\n    flow.set(\"issuedQty\", msg.payload)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":538,"y":928,"wires":[[]]},{"id":"ba0258da.012e48","type":"comment","z":"1f1892e2.58095d","name":"Production Rate","info":"Sets the prodution rate and post downtime codes","x":700,"y":20,"wires":[]},{"id":"22460333.36795c","type":"switch","z":"1f1892e2.58095d","name":"","property":"output","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":340,"wires":[[],["d7f5071f.505088","b8197de0.2e80c","54312e33.6bcf5"]]},{"id":"2b12e739.012c78","type":"function","z":"1f1892e2.58095d","name":"Pull Orderid","func":"p=msg.payload;\nnode.log(typeof p);\nmsg.payload=p.results[0].series[0].tags.order_id;\nflow.set(\"orderid\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":528,"y":968,"wires":[[]]},{"id":"e68becb1.d15d7","type":"debug","z":"1f1892e2.58095d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":712,"y":292,"wires":[]},{"id":"aa3224cf.ac6138","type":"switch","z":"1f1892e2.58095d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":692,"y":112,"wires":[["961c95b5.b4dad8"],["326d3e1.3ec0ac2"]]},{"id":"961c95b5.b4dad8","type":"change","z":"1f1892e2.58095d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":113,"wires":[["326d3e1.3ec0ac2"]],"info":"this is used to block negitive numbers"},{"id":"dd845dc3.7860b","type":"change","z":"1f1892e2.58095d","name":"Clear Flow Data","rules":[{"t":"set","p":"issuedQty","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"orderQty","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"orderRunning","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"orderid","pt":"flow","to":"null","tot":"str"},{"t":"set","p":"output","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"plannedrate","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":720,"wires":[[]]},{"id":"6b150c41.b0ae84","type":"switch","z":"1f1892e2.58095d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":312,"y":732,"wires":[["dd845dc3.7860b"],["deb7c1c9.b3d56"]]},{"id":"b8830c1c.6b8a8","type":"comment","z":"1f1892e2.58095d","name":"Production Count","info":"","x":380,"y":20,"wires":[]},{"id":"4b274132.1729d","type":"comment","z":"1f1892e2.58095d","name":"Check order/data","info":"","x":360,"y":520,"wires":[]},{"id":"67649ec.9e83b6","type":"debug","z":"1f1892e2.58095d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":660,"wires":[]},{"id":"54312e33.6bcf5","type":"function","z":"1f1892e2.58095d","name":"OrderPerformance Function","func":"var lineProtocol = {\n  payload: \"\"\n};\nvar output = flow.get('output')\nvar order = flow.get('orderid')\nvar productId = flow.get('productId')\n\nvar outStr = \"OrderPerformance,product_id=\"+productId+\",order_id=\"+order+\" \"\nif (msg.output >= 0) {\n\n  outStr += 'issued_qty=' + output+\"\"\n}\n\nlineProtocol.payload = outStr;\n\nreturn [lineProtocol, msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":340,"wires":[["9ceaed9d.be5bf","d4ec2738.a3b158"]]},{"id":"9ceaed9d.be5bf","type":"http request","z":"1f1892e2.58095d","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"yourinfluxdbaddress/write?db=smart_factory","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":340,"wires":[["d43aa039.edd51"]]},{"id":"d43aa039.edd51","type":"debug","z":"1f1892e2.58095d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":380,"wires":[]},{"id":"d4ec2738.a3b158","type":"debug","z":"1f1892e2.58095d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":420,"wires":[]},{"id":"aa435d55.8170b","type":"rate","z":"1f1892e2.58095d","name":"Production Rate","inputField":"output","inputFieldType":"flow","outputField":"rate","outputFieldType":"msg","timestampField":"","timestampFieldType":"now","ratePeriod":"60000","x":882,"y":72,"wires":[["aa3224cf.ac6138"]]},{"id":"4a7abe6a.617c3","type":"smooth","z":"1f1892e2.58095d","name":"Smooth Rate","property":"rate","action":"mean","count":"6","round":"0","mult":"single","reduce":false,"x":850,"y":153,"wires":[["8edbda32.b3a098"]]},{"id":"7cb7a939.9fbc68","type":"udp in","z":"1f1892e2.58095d","name":"Apps counter","iface":"","port":"9245","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":350,"y":60,"wires":[[]]},{"id":"2b5db23b.f61e6e","type":"function","z":"1f1892e2.58095d","name":"String to number","func":"if (msg.payload == \"1\"){\n    msg.payload = 1;\n} else if (msg.payload == \"0\") {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":100,"wires":[["e74da372.c3d4d"]]},{"id":"b8197de0.2e80c","type":"function","z":"1f1892e2.58095d","name":"Set issued_qty","func":"if (msg.output > 0) {\n  flow.set('issuedQty', msg.output + 1)\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":380,"wires":[[]]},{"id":"a6f17700.e7f8b8","type":"function","z":"1f1892e2.58095d","name":"Set Time","func":"if (msg.payload == 1){\n    global.set('Time', 1 );\n}else{\n    global.set('Time', 0 );\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":480,"wires":[["bb0ecb0.2dbe538"]]},{"id":"bb0ecb0.2dbe538","type":"debug","z":"1f1892e2.58095d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":520,"wires":[]},{"id":"aa0d150.b797ae8","type":"bigtimer","z":"1f1892e2.58095d","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Big Timer","comment":"Set on time to your match the start of your workday and the off time to the end of your workday","lat":"39.3210","lon":"-111.0937","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"10","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":1120,"y":500,"wires":[["a6f17700.e7f8b8"],[],[]]},{"id":"1829d633.5bacda","type":"comment","z":"1f1892e2.58095d","name":"Set global.Time","info":"","x":1190,"y":440,"wires":[]},{"id":"fce4d38f.496b","type":"function","z":"1f1892e2.58095d","name":"Pull ProductID","func":"p=msg.payload;\nnode.log(typeof p);\nmsg.payload=p.results[0].series[0].tags.product_id;\nflow.set(\"productId\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":800,"wires":[[]]}]